In [14]:
import pandas as pd
pd.options.display.max_rows = 2000

In [15]:
df=pd.read_csv("GK_mat.txt",sep=' ',header=None)
df

,0,1,2,3,4,5,6,7,8,9,...,67,68,69,70,71,72,73,74,75,76
0,428.844872,0.000000,-9.831624,8.307897e+01,-8.333333e-17,0.000000e+00,0.000000,-3.185897e-01,1.291018e+02,1.388889e-17,...,0.0,0.0,0.0,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,NaN,NaN
1,0.000000,10390.896249,0.000000,0.000000e+00,1.245370e+02,-1.037617e+04,-1.031695,0.000000e+00,0.000000e+00,-6.226852e+01,...,0.0,0.0,0.0,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,NaN,NaN
2,0.000000,0.000000,133.230769,2.131628e-14,-1.155558e-33,0.000000e+00,0.000000,2.305128e+01,9.831624e+00,-5.555556e-18,...,0.0,0.0,0.0,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,NaN,NaN
3,0.000000,0.000000,0.000000,3.466626e+02,-1.111111e-16,0.000000e+00,0.000000,1.238034e+01,8.307897e+01,2.777778e-17,...,0.0,0.0,0.0,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,NaN,NaN
4,0.000000,0.000000,0.000000,0.000000e+00,1.036148e+02,-8.171241e-14,-2490.740741,5.555556e-18,-8.333333e-17,2.291481e+01,...,0.0,0.0,0.0,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,103.614815,-5.684342e-14,2.490741e+03,8.333333e-17,-124.537037,NaN,NaN
71,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.000000,8.303579e+04,-1.665335e-15,0.000000e+00,-10376.165480,NaN,NaN
72,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.000000,0.000000e+00,8.305358e+04,0.000000e+00,-1.031695,NaN,NaN
73,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.000000,0.000000e+00,0.000000e+00,4.288449e+02,0.000000,NaN,NaN
74,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,...,0.0,0.0,0.0,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,10390.896249,NaN,NaN